.home-container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  background: var(--second_theme_color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
  ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    li {
      position: relative;
      width: 100%;
      list-style: none;
      a {
        position: relative;
        width: 100%;
        display: block;
        margin: 10px 0;
        white-space: normal;
        display: flex;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--first_theme_color);
        font-weight: 500;
        letter-spacing: 2px;
        opacity: 0.5;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}
.navigation.active {
  width: 0;
}
//--------------Presentation Section------------------//
.home-main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--second_theme_color);
  transition: width 0.5s, left 0.5s;
  .home-topbar {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--second_theme_color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    transition: width 0.5s, left 0.5s;
    .home-logo {
      color: var(--first_theme_color);
      font-weight: 700;
      text-decoration: none;
      font-size: 1.4em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .toggle {
      position: relative;
      width: 60px;
      height: 60px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: var(--first_theme_color);
    }
  }
  .home-topbar.active {
    width: 100%;
    left: 0;
  }
}
.home-main.active {
  width: 100%;
  left: 0;
}
#home-banner {
  scroll-margin-top: 30px;
}
.home-banner {
  position: relative;
  top: 60px;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  margin-bottom: 30px;
  .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .imgBox {
      position: relative;
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 20px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h3 {
      position: relative;
      font-size: 1.4em;
      color: (var(--first_theme_color));
      letter-spacing: 2px;
      text-transform: uppercase;
      margin: 20px 0;
    }
    p {
      color: var(--description_text_color);
      text-align: center;
      margin: 20px 0;
      width: 60%;
    }
    .cv-button {
      position: relative;
      display: inline-block;
      padding: 10px 30px;
      background: var(--first_theme_color);
      color: var(--second_theme_color);
      font-weight: 400;
      letter-spacing: 1px;
      margin: 20px 0;
      text-decoration: none;
    }
    .socialMedia {
      margin: 20px 0;
      position: relative;
      display: flex;
      li {
        list-style: none;
      }
      a {
        display: inline-block;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.05);
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--first_theme_color);
        font-size: 1.2em;
      }
      a:hover {
        background: var(--first_theme_color);
        color: var(--second_theme_color);
      }
    }
  }
}
//--------------About Section--------------------------//
.adjust {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 40px;
  color: var(--first_theme_color);
  background: var(--second_theme_color);
}
.about-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  .about-text-box {
    width: 45%;
    min-width: 45%;
  }
  .imgBox {
    width: 45%;
    min-width: 45%;
    margin-left: 40px;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}
#about-me {
  scroll-margin-top: 30px;
}
//--------------Technologies Section--------------------//
#technologies {
  scroll-margin-top: 30px;
}
.section-title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: var(--first_theme_color);
  }
}
.tech-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 40px 0;
  .techBox {
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 20px;
    background-color: var(--second_theme_color);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 50px calc(100% - 50px -40%) 40%;
    img {
      max-width: 50px;
      margin: auto;
    }
    h2 {
      font-size: 1.1em;
      padding-top: 20px;
      padding-bottom: 15px;
      font-weight: 600;
      color: var(--first_theme_color);
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    p {
      text-align: center;

      a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        font-weight: 800;
      }
    }
  }
}
//--------------Projects Section--------------------------//
#projects {
  scroll-margin-top: 140px;
}
.project-container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-small-box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
  .project-box {
    cursor: pointer;
    margin: auto;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    .project-image {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(0);
      transition: 0.5s ease-in-out;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .project-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      transition: 0.5s ease-in-out;
      background-color: var(--second_theme_color);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3 {
        color: var(--first_theme_color);
        font-size: 1em;
      }
    }
  }
  .project-box:hover {
    .project-image {
      transform: translateY(-100%);
    }
    .project-text {
      transform: translateY(0);
    }
  }
}
.clicked-project-box {
  width: 833px;
  height: 296px;
  box-shadow: 2px 2px 10px var(--first_theme_color);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 533px 300px;
  grid-template-rows: 100%;
  overflow: hidden;
  .video-box {
  }
  .description-box {
    width: 100%;
    height: 100%;
    .description-title {
      h2 {
        font-size: 1.1em;
        padding: 25px 10px 15px 30px;
        font-weight: 600;
        color: var(--first_theme_color);
        text-align: left;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
    .description-text {
      p {
        padding: 5px 10px 5px 30px;
        text-align: left;
        a {
          padding-top: 15px;
          text-decoration: none;
          color: inherit;
          cursor: pointer;
          font-weight: 800;
        }
      }
    }
    .description-links {
      padding: 25px 10px 5px 30px;
      display: flex;
      flex-direction: column;
      align-items: left;
      .url-row {
        padding-bottom: 10px;
      }
      .github-row {
        a {
          text-decoration: none;
          color: var(--first_theme_color);
          cursor: pointer;
          font-weight: 800;
        }
      }
    }
  }
}
//--------------Contact Section--------------------------//
.contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  .contactForm {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
    .contact-first-row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin-top: 20px;
      input {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        color: var(--first_theme_color);
        background: var(--second_theme_color);
        font-size: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    .contact-second-row {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      textarea {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        color: var(--first_theme_color);
        background: var(--second_theme_color);
        font-size: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        resize: none;
        height: 200px;
      }
      input[type="submit"] {
        background: var(--first_theme_color);
        color: var(--second_theme_color);
        padding: 10px 30px;
        display: inline-block;
        font-weight: 500;
        letter-spacing: 2px;
        cursor: pointer;
        font-size: 16px;
        text-transform: uppercase;
        max-width: 150px;
        border: none;
      }
    }
  }
}

//----Responsive parameters--------//
@media (max-width: 992px) {
  .navigation {
    left: -100%;
    li {
      padding: 10px;
    }
  }
  .navigation.active {
    li {
      padding: 10px;
    }
    left: 0;
    width: 100%;
  }
  .home-main {
    width: 100%;
    left: 0;
    .home-topbar {
      left: 0;
      width: 100%;
      padding: 0 20px;
    }
  }
  .home-main.active {
    left: 100%;
  }

  .home-banner {
    .banner-content {
      .imgBox {
        width: 250px;
        height: 250px;
      }
    }
  }
  .adjust {
    padding: 40px 20px 0 20px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .about-text-box {
      width: 80%;
      min-width: 250px;
    }
    .imgBox {
      margin: 40px 0 40px 0;
      width: 80%;
      min-width: 250px;
    }
  }
  .tech-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1040px) {
  .clicked-project-box {
    width: 533px;
    height: 530px;
    grid-template-columns: 100%;
    grid-template-rows: 300px calc(100% - 300px);
  }

  .projects-small-box-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1150px) {
  .home-main.active {
    .clicked-project-box {
      width: 833px;
      height: 296px;
      box-shadow: 2px 2px 10px var(--first_theme_color);
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 533px 300px;
      grid-template-rows: 100%;
    }
  }
  .home-main {
    .clicked-project-box {
      width: 533px;
      height: 530px;
      grid-template-columns: 100%;
      grid-template-rows: 300px calc(100% - 300px);
    }
  }
}
@media (max-width: 770px) {
  .tech-content {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact {
    .contactForm {
      .contact-first-row {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
@media (max-width: 560px) {
  .clicked-project-box {
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: calc(100% - 335px) 335px;
  }
  .video-box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
